header{
    background-color: rgb(217, 222, 222);
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #0e0e0e;
}

h2{
    background-color: rgb(75, 251, 239);
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #070707;
}

ul{
    background-color: rgb(220, 229, 229);
    text-align: center;
    list-style-type: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bbbdbd;
    color: #161617;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

li{
    background-color:rgb(96, 212, 230);
    padding: 10px; 
    border-bottom: 1px solid #0e0e0e;
}

input {
    background-color: aliceblue;
    padding: 5px; 
}

button{
    background-color: rgb(25, 118, 216);
    padding: 5px; 
    width: 5%;
}

.apagar-btn {
    margin-left: 10px;
    color: rgb(58, 235, 208);
    cursor: pointer;
}