header{
    background-color: aqua;
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #0e0e0e;
}

h2{
    background-color: rgb(75, 251, 239);
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #070707;
}

ul{
    background-color: rgb(220, 229, 229);
    text-align: center;
    list-style-type: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bbbdbd;
    color: #161617;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}