header{
    background-color: aqua;
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #3208bc;
}

h2{
    background-color: aqua;
    padding: 20px; 
    text-align: center;
    border-bottom: 5px solid #0d0230;
}

ul{
    background-color: rgb(220, 229, 229);
    text-align: center;
    list-style-type: none; 
}